body {
    text-align: center;
}
h1{
    text-align: center;
}
a {
    text-decoration: none;
}



#analisisCombinatorio {
    display: flex;
    flex-direction: row;
    align-content: space-evenly;
    text-align: center;
  }
  
  #analisisCombinatorioSimple{
    width: 50%;
    text-align: center;
  }
  
  #analisisCombinatorioConRepeticion{
    width: 50%;
    text-align: center;
  }

  #arbolDecision {
    display: inline-flex;
    
 
    text-align: center;
  }
 
  
